body{
            
    background-color: rgb(96, 91, 91);
}

.options{
    width: 75%;
    min-height: 60px;
    border: 0.2em solid black;
    margin-left: auto;
    margin-right: auto;
    background-image: var(--background-image);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 2em;
    padding-left: 1em;
    margin-top : 2em;
    margin-bottom : 2em;
    padding-bottom: 10px;
    
}

.menu{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.menu-text{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 1.2em;
    align-items: flex-start;
    align-self: flex-end;
    padding-bottom: 10px;
    padding-left: 10px;
}

.logo{
    font-size: 2em;
    background-color: white;
    border-radius: 2em;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 60px;
    text-align: center;
    color: black;
}

.main-text{
    font-size: 1.2em;
    font-weight: 900;
}

.sub-text{
    line-height: 15px;
    font-size: 1em;
}


.active{
    -webkit-text-stroke: 1px black;
    min-height: 300px!important;
    border: 0.3em white solid;
    font-weight: 500;
    
}